.invisible {
  display: none;
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
body * {
  font-family: "Special Elite", cursive !important;
  font-size: 1.4rem !important;
}

.couleurPrimaire {
  color: #212529;
}

.couleurSecondaire {
  color: #D9BFA0;
}

.couleurTertiaire {
  color: #6c757d;
}

.underline {
  border-bottom: 2px solid #D9BFA0;
  margin-top: 20px;
}

.caroussel {
  height: 80vh;
  width: 99vw;
  overflow: hidden;
  padding: 0px !important;
  position: relative;
  margin: auto;
}
.caroussel__logo {
  height: 80vh;
  width: 100vw;
  object-fit: contain;
  position: absolute;
  z-index: 0;
}
.caroussel__contains {
  position: absolute;
  z-index: 1;
  height: 80vh;
  display: inline-block;
  overflow: hidden;
}
.caroussel__contains__image {
  height: 80vh;
  width: 100vw;
  object-fit: cover;
}

.quiSommesNous__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiSommesNous__content__img {
  object-fit: contain;
  width: 30%;
  border-radius: 10px;
  border: 3px solid #D9BFA0;
}
.quiSommesNous__content__p {
  margin-left: 15px;
}

.realisations {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.realisations__img {
  width: 28%;
  object-fit: cover;
  margin-top: 15px;
  border: 3px solid #D9BFA0;
  border-radius: 10px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 314px;
  width: 314px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 314px;
  width: 314px;
  border: 3px solid #D9BFA0;
  border-radius: 10px;
}

.nousTrouver {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nousTrouver__info {
  text-align: center;
}

.reseaux {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #D9BFA0;
  border-top: 2px solid #D9BFA0;
}
.reseaux__p {
  margin: 10px;
}

.fa-brands {
  font-family: "Font Awesome 6 Brands" !important;
  font-weight: 400;
  color: #D9BFA0;
  font-size: 3rem !important;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .quiSommesNous__content {
    flex-flow: column wrap;
    align-items: center;
  }
  .quiSommesNous__content__img {
    width: 50%;
  }
  .quiSommesNous__content__p {
    margin: 0px;
  }

  .realisations__img {
    width: 48%;
  }

  .nousTrouver {
    flex-flow: column wrap;
  }
  .nousTrouver__info {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
