body * {
    font-family: 'Special Elite', cursive !important;
    font-size: 1.4rem !important;
}

.caroussel{
    height: 50vh;
    width: 95vw;
    overflow:hidden ;
    border: 3px solid $couleurSecondaire;
    border-radius: 10px;
    padding: 0px !important;
    &__contains{
        height: 50vh;
        width: 300%;
        display: inline-block;
        overflow:hidden ;
        &__image{
            height: 50vh;
            width: 95vw;
            object-fit: cover;
        }
    }
}